.eomlsec-card {
  background-image: url('eomlsec_cards.jpg');
}

/* Model Risk */
.eomlsec-card-img-a2 {
  background-position: -6px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-a3 {
  background-position: -426px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-a4 {
  background-position: -846px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-a5 {
  background-position: -1266px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-a6 {
  background-position: -1686px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-a7 {
  background-position: -2106px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-a8 {
  background-position: -2526px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-a9 {
  background-position: -2946px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-a10 {
  background-position: -3366px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-aj {
  background-position: -3786px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-aq {
  background-position: -4206px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-ak {
  background-position: -4626px -1164px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-aa {
  background-position: -5046px -1164px;
  width: 410px;
  height: 569px;
}

/* Dataset Risk */
.eomlsec-card-img-t2 {
  background-position: -6px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-t3 {
  background-position: -426px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-t4 {
  background-position: -846px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-t5 {
  background-position: -1266px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-t6 {
  background-position: -1686px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-t7 {
  background-position: -2106px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-t8 {
  background-position: -2526px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-t9 {
  background-position: -2946px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-t10 {
  background-position: -3366px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-tj {
  background-position: -3786px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-tq {
  background-position: -4206px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-tk {
  background-position: -4626px -6px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-ta {
  background-position: -5046px -6px;
  width: 410px;
  height: 569px;
}

/* Input Risk */
.eomlsec-card-img-b2 {
  background-position: -6px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-b3 {
  background-position: -426px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-b4 {
  background-position: -846px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-b5 {
  background-position: -1266px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-b6 {
  background-position: -1686px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-b7 {
  background-position: -2106px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-b8 {
  background-position: -2526px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-b9 {
  background-position: -2946px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-b10 {
  background-position: -3366px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-bj {
  background-position: -3786px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-bq {
  background-position: -4206px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-bk {
  background-position: -4626px -585px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-ba {
  background-position: -5046px -585px;
  width: 410px;
  height: 569px;
}

/* Output Risk */
.eomlsec-card-img-c2 {
  background-position: -6px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-c3 {
  background-position: -426px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-c4 {
  background-position: -846px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-c5 {
  background-position: -1266px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-c6 {
  background-position: -1686px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-c7 {
  background-position: -2106px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-c8 {
  background-position: -2526px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-c9 {
  background-position: -2946px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-c10 {
  background-position: -3366px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-cj {
  background-position: -3786px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-cq {
  background-position: -4206px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-ck {
  background-position: -4626px -1743px;
  width: 410px;
  height: 569px;
}
.eomlsec-card-img-ca {
  background-position: -5046px -1743px;
  width: 410px;
  height: 569px;
}
