name: Checks

on:
  push:
    branches: ['*']
  pull_request:
    branches: [master]

env:
  DO_NOT_TRACK: '1'

jobs:
  build:
    strategy:
      matrix:
        node-version: ['20.x', '22.x', "24.x"]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci --prefer-offline
      - run: npx sherif
      - run: npx turbo run checkformat
      - run: npx turbo run lint
      - run: npx turbo run build
      - run: npx turbo run test
