.card-deck-selector-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.card-deck-selection {
  width: 15rem;
}

.card-container {
  display: flex;
  justify-content: center;
  height: 600px;
}
